
html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 200vh;
}   

header{
    display:flex;
    justify-content: center;
    background-color: rgb(3, 43, 1);
    color: rgb(255, 255, 255);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(240, 202, 52), rgba(240, 180, 52, 0.7));
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #ffffff;
    /* f0ca34 */
    /* (rgb(66, 71, 250), rgb(74, 0, 192)) */
}
main{
    flex: 1;
}
footer{
    text-align: center;
    
}

.section1{
    height: 600px;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Imagens/fanfarrajpeg.jpeg');
    background-size:cover;
    background-position: center;
}

.section2 {
    height: 650px;
    width: 100%;
    background-color: #ffffff;
    background-position: center;
}

.section3{
    height:500px;
    width:100%;
    background-color: rgb(250, 247, 77);
    background-position:center;
}
/*  */
/* amarelo #faf542 */
/* rgb(250, 130, 100) vermelho */
.texto{
    /* justify-content: center; */
    align-content:center;
    text-align: center;
    color: white;
    /* align-items: center; */
}
.imagem{
    display:flex;
    margin: 10px;
    justify-content:space-evenly;
}
.imagem1{
    height: 400px;
    width: 48%;
    background-color: gray;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Imagens/Campori-UCB-2017_3.jpeg');
    background-size:cover;
    background-position: center bottom;
}
.imagem2{
    height: 400px;
    width: 48%;
    background-color: gray;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../Imagens/Campori-UCB-2017_1.jpeg');
    background-size:cover;
    background-position: center bottom;
}

/* cor amarela #faf542 */
