body, html{
    height: 100%;
    margin:0;
}
nav{
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(rgb(240, 202, 52), rgba(240, 180, 52, 0.7));
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 3px solid #ffffff;
    /* f0ca34 */
    /* (rgb(66, 71, 250), rgb(74, 0, 192)) */
}